@model TheComicsTestMVC.Models.Story

@{
    ViewData["Title"] = "View";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Description</p>
</div>
<div class="text-center">
    @foreach (var item in @Model.Characters)
    {
        <img src="@item.ImageURL">
        @item.Name
        <br />
    }
</div>
<div class="text-center">
    <br />
    <br />
    <h4>Data provided by Marvel. © 2014 Marvel</h4>
</div>