@model TheComicsTestMVC.Models.Story

@{
    ViewData["Title"] = "View";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Description</p>
</div>
    @foreach (var character in @Model.Characters)
    {
        <ul>
            <li><img src="@character.ImageURL" > <b>Character Name</b>: @character.Name</li>
        </ul>
    }
<div class="text-center">
    <br />
    <br />
    <h4>Data provided by Marvel. © 2014 Marvel</h4>
</div>